        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: rgba(266, 266, 266);
            font-family: 'Poppins', sans-serif;
        }
        
        body {
            background-color: #aaa;
            user-select: none;
        }
        
        .active {
            color: rgba(266, 266, 266) !important;
        }
        
        .nav-bar {
            display: flex;
            justify-content: space-between;
            height: 150px;
            min-height: 8vh;
            max-width: 1470px;
            z-index: 99;
            width: 100%;
            padding: 4%;
        }
        
        .nav-links {
            display: flex;
            width: 50%;
            justify-content: flex-end;
            height: 50px;
        }
        
        .nav-links li {
            line-height: 50px;
            list-style: none;
        }
        
        .nav-links a {
            display: flex;
            text-decoration: none;
            letter-spacing: 3px;
            font-weight: bold;
            font-size: 14px;
            margin: 0 10px;
            color: #aaa;
            transition: all 0.3s;
        }
        
        .nav-links a:hover {
            color: rgba(266, 266, 266);
        }
        
        .logo-burger-wrapper {
            width: 50%;
        }
        
        .logo {
            align-self: center;
            text-transform: uppercase;
            letter-spacing: 4px;
            font-size: 20px;
        }
        
        .logo h4 {
            height: 50px;
            display: flex;
            width: 100%;
            line-height: 50px;
        }
        
        .img-logo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        
        .nav-btn {
            background-color: rgba(0, 0, 0, 0);
            box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: all .5s;
            color: #aaa;
        }
        
        .nav-btn:hover {
            transform: translateY(-3px);
            color: rgba(266, 266, 266);
        }
        
        .overflow {
            overflow: hidden;
        }
        
        @media screen and (max-width: 1189px) {
            body {
                overflow-x: hidden;
            }
            .nav-bar {
                position: fixed;
                top: 0;
                width: 100%;
                background-color: #444;
                padding-top: 20px;
            }
            .nav-links {
                position: fixed;
                top: 8vh;
                right: 0;
                height: 92vh;
                background-color: #444;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 13em;
                transform: translateX(100%);
                transition: 200ms ease-in 0s;
            }
            .nav-links li {
                margin: 0 0 40px 0;
            }
            .logo-burger-wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                z-index: 999;
            }
            .burger {
                display: flex;
                flex-direction: column;
                align-self: center;
            }
            .burger div {
                width: 25px;
                height: 2px;
                background-color: rgba(266, 266, 266);
                margin: 2px;
            }
            .popup-wrapper {
                background: rgba(0, 0, 0, 0.5);
                position: fixed;
                top: 150px;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
            }
        }
        
        @media screen and (max-width: 476px) {
            .logo h4 {
                height: 50px;
                font-size: 10px;
                line-height: 50px;
            }
            .nav-links {
                width: 100%;
            }
            .popup-wrapper {
                display: none;
            }
            .rights {
                font-size: 10px;
            }
            .footer a {
                font-size: 12px;
            }
        }
        
        .nav-active {
            transform: translateX(0%);
        }